@import url("https://fonts.gstatic.com/s/comfortaa/v28/1Ptsg8LJRfWJmhDAuUs4TYFq.woff2");

body{
    margin: 0;
}
.container{
    display: grid;
    min-height: 88px;
    grid-auto-flow: column;
    background-color: rgba(69, 69, 69,0.6);
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



.logo {
    display: grid;
    justify-content: start;
    align-content: center;
}

.logo img {
    height: 88px;
}

.links{
    display: grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 20px;
    grid-column-gap: 10px;
    
}

.links a{
    text-decoration: none;
    color: rgba(225, 225, 225);
    position: relative;
}

.links a:hover{
    text-decoration: none;
    color: rgba(225, 225, 225,0.6);
    transition: ease-in-out 200ms ;
}
.links a::after{
    content:"";
    display: block;
}

.links a:hover::after{
    height: 1px;
    box-shadow: 0 0 5px darkorange;
    border-radius: 5px;
    width: 100%;
    background-color: orange;
    margin-top: 5px;
   

    transition: ease-in-out 250ms;
}

.ptext{
    color: rgba(225, 225, 225, 1);
}